<style>
    .banner {
        background-color: #888ffd;
        padding: 20px;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: 'Poppins', sans-serif;
    }

    .logo {
        width: 50px;
        height: auto;
        margin-right: 15px;
    }

    .home {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

    .banner h1 {
        margin: 0;
        font-size: 30px;
        color: #000;
    }

    .login-link {
        color: #000;
        font-size: 18px;
        text-decoration: none;
        background-color: #888ffd;
        padding: 10px 20px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        margin-left: auto;
        border: 1px solid #b0b5ff;
    }

    .login-link:hover {
        background-color: #b0b5ff;
    }

    .pp {
        margin-left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

    .pp:hover {
        transform: scale(1.05);
    }

    .icon {
        font-size: 30px;
    }
</style>

<header>
    <div class="banner">
        <a class="home" href="/home">
            <img src="{{ asset('styles/img/logo.jpg') }}" alt="Logo Manga Mania" class="logo">
            <h1><strong>MANGA MANIA</strong></h1>
        </a>
        {% if user %}
            <!-- Si admin, affiche le panneau de configuration -->
            {% if user.role == true %}
                <a class="login-link" href="#">Panneau de config.</a>
            {% endif %}
                <a class="login-link" href="/basket"><i class="fa-solid fa-basket-shopping icon"></i></a>


            <!-- Si l'user possède une photo de profil, sinon affiche default.png -->
            <a href="/profile">
                {% if user.profilePicture %}
                    <img class ="pp" src="{{ asset(user.profilePicture.path) }}">
                {% else %}
                    <img class ="pp" src="{{ asset('pp/default.png') }}">
                {% endif %}
            </a>

        {% else %}
            <a class="login-link" href="/login-register">{{ 'login_button' | trans }}</a>
        {% endif %} 
    </div>
</header>